.contn {
    position: relative;

    height: 70%;
    width: 70%;
    position: absolute;
    left: 300px;
}

.bab,
.linkecCon,
#descriptionOver {
    position: absolute !important;
}

.bab {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#descriptionOver {
    z-index: 5;
    top: 5%;
    bottom: 12%;
    right: 3%;
    left: 70%;
    width: auto;
    height: auto;
    background-color: rgba(70, 70, 70, 0.9);
    overflow-y: scroll;
    border-radius: 7px;
}

#descriptionOver p {
    margin-left: 3%;
    margin-right: 3%;
    font-family: Arial, sans-serif;
    font-size: 12pt;
    color: rgb(207, 207, 207);
}

#descriptionOver p a:link {
    color: rgb(207, 207, 207);
    background-color: transparent;
    text-decoration: none;
}

#descriptionOver p a:visited {
    color: rgb(207, 207, 207);
    background-color: transparent;
    text-decoration: none;
}

#descriptionOver p a:hover {
    color: rgb(160, 160, 160);
    background-color: transparent;
    text-decoration: underline;
}

#descriptionOver p a:active {
    color: rgb(207, 207, 207);
    background-color: transparent;
    text-decoration: none;
}

#descriptionOver #btnX {
    float: right;
    margin-top: 2%;
    background: none;
    border: none;
}

#descriptionOver #btnX img {
    width: 50%;
    height: 50%;
}

#descriptionOver .txtTab {
    margin-left: 2%;
    margin-top: 2%;
    background: none;
    border: none;
    color: white;
    font-weight: 600;
}

.nav-container {
    display: none !important;
}

.static-loading-image {
    display: none !important;
}

babylon loading-screen .loading-image {
    animation: none !important;
}
